@model LojaNinja.MVC.Models.LoginModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Salvar", "Pedido", FormMethod.Post))
{

    <div class="form-horizontal container-pedido login">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new {@class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.PasswordFor(model => model.Senha, new { @class = "form-control", placeholder = "Senha" })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger"})
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-group-lg" type="submit">Entrar</button>
        <button class="btn btn-lg btn-primary btn-group-lg" type="submit">Faça seu registro</button>
     </div>
}
