@model LojaNinja.MVC.Models.PedidoModel

@{
    ViewBag.Title = "Registrar Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script src="~/Content/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Scripts/Custom/overrides-validacao.js"></script>
}

@using (Html.BeginForm("Salvar", "Pedido", FormMethod.Post))
{
    <div class="form-horizontal container-pedido">
        @Html.TextBoxFor(model => model.Id, new { @class = "hidden" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NomeCliente, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.NomeCliente, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeProduto, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.NomeProduto, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.NomeProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorVenda, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.ValorVenda, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ValorVenda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoPagamento, new { @class = "control-label col-sm-2" })
            <div class="col-md-3">
                @Html.EnumDropDownListFor(model => model.TipoPagamento, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoPagamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataEntrega, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.DataEntrega, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DataEntrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cidade,  new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Estado, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Estado, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-success" />
                @Html.ActionLink("Voltar para Página Inicial", "Index", new { controller = "Main" }, new { type = "submit", @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

